@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
	font-family: Ubuntu, sans-serif;
}

/*! h1 in initialView */
.header{
	color: #FFF;
	background-color: #2FA199;
	margin-top: 0;
	padding: 0.5em;
	font-size: 2em;
	text-align: center;
}
.header h1{
	margin-bottom: 0;
	margin-top: 0.2em;
}
.header .sub {
	font-size: 0.8em;
	margin-left: 0.2em;
}

.listwrapper{
	width: 80%;
	margin: 0 auto;
}

form table td{
	padding: 0.2em;
}

.btn_clear{
	width: 1.3em;
	border-radius: 1em;
	border-width: 0;
	color: #FFF;
	font-weight: bold;
	background-color: #2FA199;
}

.row {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #EEE;
	text-align: center;
}
.row form {
	display: inline-block;
}

#footer{
	color: #FFF;
	background-color: #2FA199;
	margin-top: 0;
	padding: 0.5em;
	width: 100%;
	text-align: center;
}

#footer a, #footer a:hover, #footer a:active, #footer a:visited{
	color: #333;
}

.footwrapper{
	display: inline-block;
}

.nolist {
	float:left;
	list-style: none outside none;
	text-align: left;
}

		colors = [
				"#E53517", #red
				"#008BD0", #blue
				"#97BE0D", #green 
				"#641F80", #violet
				"#F07C0D", #orange 
				"#2FA199", #turquoise
				"#FFCC00", #yellow
				"#E2007A", #pink
				"#290E03"  #brown
			]