@charset "UTF-8";

.stroke_color1 {
	stroke: rgb(105,210,231)
}

.stroke_color2 {
	stroke: rgb(167,219,216)
}

.stroke_color3 {
	stroke: rgb(243,134,48)
}

.stroke_color4 {
	stroke: rgb(250,105,0)
}

.stroke_color5 {
	stroke: rgb(106,74,60)
}

.stroke_color6 {
	stroke: rgb(0,160,176)
}

.stroke_color7 {
	stroke: rgb(204,51,63)
}

.stroke_color8 {
	stroke: rgb(235,104,65)
}

.stroke_color9{
	stroke: rgb(237,201,81)
}

.stroke_color10 {
	stroke: rgb(59,129,131)
}

.stroke_color11 {
	stroke: rgb(237,48,60)
}

.stroke_color12 {
	stroke: rgb(245,99,74)
}

.stroke_color13 {
	stroke: rgb(255,156,91)
}

.stroke_color14 {
	stroke: rgb(0,168,198)
}

.stroke_color15 {
	stroke: rgb(64,192,203)
}

.stroke_color16 {
	stroke: rgb(174,226,57)
}

.stroke_color17 {
	stroke: rgb(143,190,0)
}

.stroke_color18 {
	stroke: rgb(13,103,89)
}

.stroke_color19 {
	stroke: rgb(122,179,23)
}

.stroke_color20 {
	stroke: rgb(160,197,95)
}
