@charset "UTF-8";

body { overflow: hidden; margin: 0; }

circle, rect {
	fill: white;
	stroke: black;
}
text {
	alignment-baseline: central;
	text-anchor: middle;
}
path {
	fill: none;
	stroke: black;
	stroke-width: 2pt;
}

/* Output colors
    [229,  53,  23, 1, "red"    ]
    [151, 190,  13, 1, "green"  ]
    [  0, 139, 208, 1, "blue"   ]
    [255, 204,   0, 1, "yellow" ]
    [226,   0, 122, 1, "pink"   ]
    [100,  31, 128, 1, "purple" ]
    [ 41,  14,   3, 1, "brown"  ]
*/

.highlighted {
	stroke: rgb(229,53,23);
	stroke-width: 10pt;
}

.dragable { cursor: pointer; cursor: hand; }
.dragging { cursor: move; }

pre#my { position: absolute; }

svg > g * {
	transition: 1s;
	-webkit-transition: 1s;
}
