@charset "UTF-8";

@import url('stroke_colors.css')

body { overflow: hidden; margin: 0; }

circle, rect {
	fill: white;
	stroke: black;
}

.node > text, .endnode > text {
	alignment-baseline: central;
	text-anchor: middle;
}

.station-label > text {
	alignment-baseline: central;
	text-anchor: start;
}

.station-kanji > text {
	alignment-baseline: central;
	text-anchor: middle;
}

.remove-col-btn > text {
	alignment-baseline: central;
	text-anchor: middle;
	padding-left: 7px;
}

#details .remove-col-btn{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	border-radius: 3px;
	position: absolute;
	background-color: rgb(220,220,220);
}

path {
	fill: none;
	stroke: black;
	stroke-width: 5;
}

/*Output colors
    [229,  53,  23, 1, "red"    ]
    [151, 190,  13, 1, "green"  ]
    [  0, 139, 208, 1, "blue"   ]
    [255, 204,   0, 1, "yellow" ]
    [226,   0, 122, 1, "pink"   ]
    [100,  31, 128, 1, "purple" ]
    [ 41,  14,   3, 1, "brown"  ]*/

alias red #E53517
alias green #97BE0D
alias blue #008BD0
alias yellow #FFCC00
alias pink #E2007A
alias purple #641F80
alias brown #290E03
alias orange #F07C0D
alias teal #2FA199

.highlighted {
	stroke-width: 10;
}

.filtered {
	opacity: 0.2;
}

.searchresult rect{
    stroke: black;
    stroke-width: 3;
}

.dragable { cursor: pointer; cursor: hand; }
.dragging { cursor: move; }

pre#my { position: absolute; }

svg > g * {
	transition: 1s;
	-webkit-transition: 1s;
}

#graph {
}

#bottomBar {
	display: -webkit-flex;
	border: 1px solid silver;
}
#bottomBar > * {
}
#minimap {
	width: 200px;
	height: 200px;
	border: 1px solid silver;
	text-align: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
#details {
	/* min-width: 30%;
	max-width: 45%; */
	height: 202px;
}

#seafil {
	width: 33%;
}
#seafil table td{
	padding-bottom: 5px;
	padding-left: 5px;
}
#seafil form .long{
	width: 10em;
}
#seafil form .half{
	width: 3em;
}
#history {
	width: 10%;
	margin-top: 10px;
	
}
#seafil .btn_clear{
	width: 1em;
	padding-left: 0.2em;
	border-radius: 0.7em;
	border-width: 0;
}
.no-wrap{
	white-space: nowrap;
}

.historylist{
	list-style: none;
	padding: 0;
	margin: 0;
}

.searchKanji, .hisKanji, .firsthisKanji {
	cursor: pointer;
	padding: 3px;
	margin: 3px;
	border: 1px solid black;
	float: left;
}

.firsthisKanji{
	cursor: pointer;
	padding: 6px;
	margin: 11px;
	font-size: 1.5em;
}