@charset "UTF-8";

@import url('stroke_colors.css')

body { overflow: hidden; margin: 0; }

circle, rect {
	fill: white;
	stroke: black;
}
text {
	alignment-baseline: central;
	text-anchor: middle;
}
path {
	fill: none;
	stroke: black;
	stroke-width: 3;
}

/* Output colors
    [229,  53,  23, 1, "red"    ]
    [151, 190,  13, 1, "green"  ]
    [  0, 139, 208, 1, "blue"   ]
    [255, 204,   0, 1, "yellow" ]
    [226,   0, 122, 1, "pink"   ]
    [100,  31, 128, 1, "purple" ]
    [ 41,  14,   3, 1, "brown"  ]
*/

.highlighted {
	stroke-width: 10;
}

.filtered {
	display: none;
}

.dragable { cursor: pointer; cursor: hand; }
.dragging { cursor: move; }

pre#my { position: absolute; }

svg > g * {
	transition: 1s;
	-webkit-transition: 1s;
}

#graph {
}

#tooltip {
	min-height: 150px;
	min-width: 10px;
	position: absolute;
	background: white;
	border-radius: 8px;
}
#tooltip > svg{
}

#bottomBar {
	display: -webkit-flex;
	border: 1px solid silver;
}
#bottomBar > * {
}
#minimap {
	width: 200px;
	height: 200px;
	border: 1px solid silver;
	text-align: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
#details {
	-webkit-min-width: fill-c;
	height: 202px;
}

#seafil {
	width: 33%;
}
#seafil table td{
	padding-bottom: 5px;
	padding-left: 5px;
}
#seafil form input{
	width: 10em;
}
#seafil form .half{
	width: 3em;
}
#history {
	width: 10%;
	
}
.no-wrap{
	white-space: nowrap;
}