@charset "UTF-8";

@import url('stroke_colors.css')

body { 
	overflow-y:hidden; 
	margin: 0px; 
}

circle, rect {
	fill: white;
	stroke: black;
}

.node > text, .endnode > text {
	alignment-baseline: central;
	text-anchor: middle;
}

.station-label > text {
	alignment-baseline: central;
	text-anchor: start;
}

.station-kanji > text {
	alignment-baseline: central;
	text-anchor: middle;
}

.mini-label > text{
	alignment-baseline: central;
	text-anchor: middle;
	font-size: 0.005em;
}

.centralStation{
    width: 240px;
    border: 2px solid black;
}
.centralStation table{
    margin: 0.2em;  
    padding: 0.2em;  
}
.centralStation tr td:first-child{
    font-weight: bold;
    padding-left: 5px;
}
.centralStation tr td:last-child{
    text-align: right;
}

.firstBlock {
	min-height: 70px;
}

.secondBlock{
    margin: 0.2em;
}

#kKanji{
    float:left;
    margin: 0.2em;
    margin-bottom: 0;
    padding: 0.2em;
    line-height: 1em;
    font-size: 3em;
}

#kMeaning, #kOn, #kKun {
    font-size: 1.3em;
    padding: 0.2em; 
}

#kMeaning{
    font-size: 1.5em;
    
}

#details .remove-col-btn{
	margin-left: 7px;
	font-size: 0.6em;
	cursor: pointer;
	width: 1.3em;
	border-radius: 1em;
	border-width: 0;
	color: #FFF;
	font-weight: bold;
	background-color: #2FA199;
	padding: 0.1em 0.5em;
	box-shadow: 1px 1px 3px #333;
	background-image: -webkit-linear-gradient(#2FA199 0%, #2e7a74 100%);
}

path {
	fill: none;
	stroke: black;
	stroke-width: 5;
}

.edge > path {
	stroke: inherit;
}

.highlighted {
	stroke-width: 10;
}

.filtered {
	opacity: 0.2;
}

.searchresult rect{
    stroke: black;
    stroke-width: 3;
}

@-webkit-keyframes blink {
	0% {
		fill: #FFF;
	}
	50% {
		fill: #ffcc00;
	}
	100% {
		fill: #FFF;
	}
}

.focused .station-kanji rect{ 
	-webkit-animation-name: blink; 
	-webkit-animation-iteration-count: 2;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: .5s;
}

.dragable { cursor: pointer; cursor: hand; }
.dragging { cursor: move; }

pre#my { position: absolute; }

svg > g * {
	transition: 1s;
	-webkit-transition: 1s;
}

.historylist{
	list-style: none;
	padding: 0;
	margin: 0;
}

#kanjiresult{
	height: 45px;
}

.searchKanji, .hisKanji, .firsthisKanji {
	cursor: pointer;
	padding: 3px;
	margin: 3px;
	border: 1px solid black;
	float: left;
	background-color: #FFF;
}

.firsthisKanji{
	cursor: pointer;
	padding: 6px;
	margin: 11px;
	font-size: 1.5em;
}

.lower{
	padding: 3px;
	margin: 3px;
	float: left;	
}
