@charset "UTF-8";

@import url('stroke_colors.css')

body { 
	overflow-y:hidden; 
	margin: 0px; 
}

circle, rect {
	fill: white;
	stroke: black;
}

.node > text, .endnode > text {
	alignment-baseline: central;
	text-anchor: middle;
}

.station-label > text {
	alignment-baseline: central;
	text-anchor: start;
}

.station-kanji > text {
	alignment-baseline: central;
	text-anchor: middle;
}

.remove-col-btn > text {
	alignment-baseline: central;
	text-anchor: middle;
	padding-left: 7px;
}

.mini-label > text{
	alignment-baseline: central;
	text-anchor: middle;
	font-size: 0.005em;
}

#details .remove-col-btn{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	border-radius: 3px;
	position: absolute;
	background-color: rgb(220,220,220);
}

path {
	fill: none;
	stroke: black;
	stroke-width: 5;
}

.highlighted {
	stroke-width: 10;
}

.filtered {
	opacity: 0.2;
}

.searchresult rect{
    stroke: black;
    stroke-width: 3;
}

@-webkit-keyframes blink {
	0% {
		fill: #FFF;
	}
	50% {
		fill: #ffcc00;
	}
	100% {
		fill: #FFF;
	}
}

.focused .station-kanji rect{ 
	-webkit-animation-name: blink; 
	-webkit-animation-iteration-count: 2;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: .5s;
}

.dragable { cursor: pointer; cursor: hand; }
.dragging { cursor: move; }

pre#my { position: absolute; }

svg > g * {
	transition: 1s;
	-webkit-transition: 1s;
}

.historylist{
	list-style: none;
	padding: 0;
	margin: 0;
}

.searchKanji, .hisKanji, .firsthisKanji {
	cursor: pointer;
	padding: 3px;
	margin: 3px;
	border: 1px solid black;
	float: left;
}

.firsthisKanji{
	cursor: pointer;
	padding: 6px;
	margin: 11px;
	font-size: 1.5em;
}

.lower{
	padding: 3px;
	margin: 3px;
	float: left;	
}


